body {
    font-family: "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    background: #d3d3d3;
}

section {
    display: none;
}

/* 表示スタイル（動作に無関係） */
section {
    // border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.wrap {
    background: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    padding: 30px;
    width: 25%;
    background-color: #fff;
}

@media not all and (min-width: 768px) {
    .item {
        width: 100%;
    }

    .item:not(:last-child) {
        margin-bottom: 30px;
    }
}

img {
    width: 100%;
}
h1 {
    background: #00aea4;
    color: #fff;
    text-align: center;
}
h2 {
    text-align: center;
    margin: .5em 0 0 0;
}

.main-content {
    background: #fff;
    padding: 1em;
    border-radius: .5em;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 100, .3);
}

.header {
    padding: 0;
}

/* select要素 */
